aiohttp
aiohttp-retry
aiosignal
annotated-types
anyio
attrs
audioread
backoff
bcrypt
cachetools
certifi
cffi
charset-normalizer
click
cohere
colorama
dataclasses-json
decorator
docopt
ecdsa
fastapi
fastavro
frozenlist
gevent
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httplib2
idna
importlib-metadata
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-google-genai
langsmith
#langsmith
lazy_loader
librosa
llvmlite
marshmallow
msgpack
multidict
mypy-extensions
mysql-connector-python
nest-asyncio
numba
numpy
packaging
passlib
pillow
platformdirs
pooch
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
PyJWT
pyparsing
python-decouple
python-dotenv
python-jose
python-multipart
PyYAML
regex
requests
rsa
scikit-learn
scipy
six
sniffio
soundfile
soxr
SQLAlchemy
starlette
tavily-python
tenacity
threadpoolctl
tiktoken
tqdm
twilio
typing-inspect
typing_extensions
uritemplate
urllib3
uvicorn
websocket
yarg
yarl
zipp
zope.event
zope.interface
