fastapi==0.104.1
librosa==0.10.1
mysql-connector-python
passlib[bcrypt]
pydantic==2.4.2
PyJWT==2.8.0
python-decouple==3.8
python-dotenv==1.0.0
python_jose==3.3.0
Requests==2.31.0
SQLAlchemy==2.0.22
starlette==0.27.0